body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 1.3;
	background: #f9f9f9;
	min-width: 320px;
}
.container{
	min-width: 320px;
	max-width: 1000px;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
	margin-top: 0;
}
header{
	height: 65px;
	margin: 0 auto;
}
.logo{
	width: 80px;
	height: 80px;
	background: #337ab7 url(../img/logo.png) 50% 50% no-repeat;
	background-size: 73px;
	/*text-indent: -9999px;*/
	text-decoration: none;
	float: left;
	position: absolute;
	/*border-radius: 50%;*/
	text-align: center;
	padding-top: 78px;
	font-weight: bold;
	font-size: 15px;
}
.nav-btn{
	width: 65px;
	height: 65px;
	background: #198ca5;
	position: relative;
	float: right;
	border-radius: 5px;
	border: 2px solid #fed136;
}
.nav-btn i{
	width: 17px;
	height: 2px;
	background: #FFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -1px 0 0 -9px;
}
.nav-btn i::before,
.nav-btn i::after{
	content: "";
	width: 17px;
	height: 2px;
	background: #FFF;
	position: absolute;
	left: 0;
}
.nav-btn i::before{
	top: -6px;
}
.nav-btn i::after{
	top: 6px;	
}
.main-nav{
	position: relative;
}
.main-nav ul{
	margin: 0;
	list-style: none;
	background: #198ca5;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 64px;
	width: 51%;
	display: none;
}
.main-nav:hover ul{
	display: block;
}
.main-nav li{
	margin: 0;
	padding: 0;
}
.main-nav .menu{
	padding: 7px 0;
	text-decoration: none;
	color: #3a3a3a;
	display: block;
	font-weight: 400;
	font-size: 14px;
	border-bottom: 2px solid transparent;
}
.main-nav .menu:hover{
	border-bottom: 2px solid #14668b;
	color: #14668b;
}
.gallery{
	padding-top: 50px;
}
.carousel-control.left, .carousel-control.right{
	background: none;
}
.carousel-text{
	color: #3a3a3a;
	font-size: 14px;
	font-weight:400;
}
main{
	background: #eff3f5;
	margin-top: 50px;
}

/*index*/
.thumbnail>.main-img{
	width: 500px;
	height: 200px;
}
/*index*/

/*Строительнае леса*/
.thumbnail>.scaffolding-main-img{
	width: 289px;
	height: 289px;
}
.thumbnail>.scaffolding-img{
	width: 450px;
	height: 450px;
}
.scaffolding-img-text{
	font-size: 14px;
	font-weight:400;
	color: #3a3a3a;
	margin: -20px 0 10px 0;
}
.scaffolding-main-text{
	color: #3a3a3a;
	font-size: 28px;
	font-weight: 700;
	padding-top: 20px;
}
.scaffolding-main-text-2{
	color: #3a3a3a;
	font-size: 18px;
	font-weight: 700;
	padding-top: 20px;
}
.scaffolding-info-text{
	color: #3a3a3a;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	padding:0;
	margin: 0;
}
.table>thead:first-child>tr:first-child>th{
	color: #3a3a3a;
}
.table>tbody>tr>td{
	padding: 4px;
	color: #3a3a3a;
}
/*Строительнае леса*/

/*Двери*/

/* < img*/
.text-center{
	overflow:hidden;
	width: 380px;
	height:250px;
}
.text-center img {
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

.text-center img:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}
/*  img* >/
/* < О нас*/
.aboutAs-main-text{
	color: #3a3a3a;
	font-size: 28px;
	font-weight: 700;
}
.aboutAs-info-text{
	color: #3a3a3a;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	padding-bottom: 20px;
}
.aboutAs-main-text-2{
	color: #3a3a3a;
	font-size: 18px;
	font-weight: 700;
}
/* О нас > */

.small-thumbnail{
	height:128px;
}
footer{
	border-top: 2px solid #888888;
	background-color: #056b9a;
}
.footer-text{
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	padding-top: 15px;
}
footer a {
	color: #78aadc;
	font-size: 12px;
	font-weight: 400;
}
footer a:hover {
	color: #dce2e8;
}

/*media*/
@media screen and (min-width: 500px){

}
@media screen and (min-width: 765px){
	.main-nav ul{
		position: static;
		width: 100%;
		background: transparent;
		display: block;
		padding: 15px 0 0 150px;
	}
	.logo{
		width: 80px;
		height: 80px;
		background-size: 73px;/*60px;*/
		position: absolute;
		/*margin-top: 15px;*/
	}
	.nav-btn{
		display: none;
	}
	.main-nav li{
		display: inline-block;
		margin-right: 30px;
	}
	.main-nav li:last-child{
		margin-right: 0;
	}
	.main-nav .menu{
		display: inline-block;
		border-bottom: 2px solid transparent;
	}
}
@media screen and (min-width: 980px){
	header{
		height: 66px;
	}
}

@media screen and (min-width: 1000px){


}


